table {
    width: 800px;
    height: 600px;
    text-align: center;
}
img {
    width: 100px;
    height: 100px;
}

.lignes {
    background-color: blue;
}

.colonnes {
    border: 2px dashed red;
}